@{
    ViewData["Title"] = "Home Page";
}

@model List<Phone>

<table>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Company</td>
            <td>@phone.Name</td>
            <td>@phone.Price</td>
        </tr>
    }
</table>
<form asp-action="Hello" method="post">
    <label for="userName">Ваше имя</label>
    <input id="userName" type="text" name="userName"/>
    <input type="submit" value="отправить"/>
</form>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
